@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", serif;
  font-size: 2rem;
}

body {
  min-height: 100vh;
  background-color: #2667FF;
  color: whitesmoke;
  display: grid;
  place-content: center;
  padding: 1rem;
}